body {
    background-image: url('../../assets/background.jpg');
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%) */
}
.player-wrapper { 
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    /* height: 100%; */
    
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
  }
  .MuiButton-containedPrimary {
    color: #fff;
    background-color: #18A4CE!important;
}

.MuiToggleButton-root {
    color: white!important;
    background-color: #18A4CE!important;
}

.Mui-Selected { background-color: #ce1133!important; }

/* 
Fullscreen Pseudo-class: 
https://developer.mozilla.org/en-US/docs/Web/CSS/:fullscreen 
*/
/* #controls:-moz-full-screen { position: fixed; }
#controls:-webkit-full-screen { position: fixed; }
#controls:-ms-fullscreen { position: fixed; }
#controls:fullscreen { position: fixed; } */
/* 
Special Shadow DOM Settings to Override Default Controls: 
https://css-tricks.com/custom-controls-in-html5-video-full-screen/ 
*/
/* video::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls-enclosure { display:none !important; }
.react-player:fullscreen {z-index: 2147483646!important;}
#controls { z-index: 2147483647; } */